<form class="w-2/3 mx-auto mt-8 pb-32 max-sm:w-3/4">
    <div class="flex items-center justify-between ">
      <h2 class="font-bold text-slate-200 text-3xl">New Charge</h2>
      
    </div>
    <hr class="text-slate-100 my-6 "/>
    <div class="mb-4 ">
      <label for="title" class="block font-medium text-slate-200">Title</label>
      <input  [(ngModel)]="service.title" type="text" id="title" name="title" class="mt-1 p-2 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" placeholder="Service title">
    </div>
    <div class="mb-4 ">
      <label for="description" class="block font-medium text-slate-200">Description</label>
      <textarea [(ngModel)]="service.description" id="description" name="description" class="mt-1 p-2 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" placeholder="Service description"></textarea>
    </div>
    <div class="mb-4 ">
      <label for="customerName" class="block font-medium text-slate-200">Customer Name</label>
      <input [(ngModel)]="service.customerName" type="text" id="customerName" name="customerName" class="mt-1 p-2 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" placeholder="Customer name">
  </div>
    <div class="mb-4 ">
        <label for="customerEmail" class="block font-medium text-slate-200">Customer Email</label>
        <input [(ngModel)]="service.customerEmail" type="email" id="customerEmail" name="customerEmail" class="mt-1 p-2 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" placeholder="Customer email">
    </div>
    <div class="mb-4 ">
      <label for="price" class="block font-medium text-slate-200">Price</label>
      <input [(ngModel)]="service.price" type="number" id="price" name="price" class="mt-1 p-2 w-1/4 block  rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0" placeholder="Total price">
    </div>
    <div class="mt-6">
      <div *ngIf="submitError" class="bg-red-600 w-full p-3 rounded-sm mb-6 shadow-md shadow-red-900">
        <p class="text-slate-200 font-semibold text-sm">
          There was an error on your submission. All fields are required.
        </p>
      </div>
      <button (click)="toggleModal()" type="submit" class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-indigo-500 rounded-md shadow ripple hover:shadow-lg hover:bg-indigo-600 focus:outline-none">Create Service</button>
    </div>
</form>
<app-confirm-charge-modal [service]="service" *ngIf="showModal" (toggleModal)="toggleModal()" (submitNewService)="submitNewService()"></app-confirm-charge-modal>
