<form>
    <div class="contain-form w-100">
        <div class="w-50 wrap-login bg-light h-50 p-5 border rounded m-auto d-flex flex-column">
            <div class="wrap-email">
                <label class="" for="email-input">Email:</label>
                <br>
                <br>
                <input class="w-50 px-2" type="text" id="email-input" placeholder="Email"/>
            </div>
            <br>
            <div class="wrap-password">
                <label class="" for="password-input">Password: </label>
                <br>
                <br>
                <input class="w-50 px-2" type="password" id="password-input" placeholder="Password" />
            </div>
            <br>
            <br>
            <button id="submit-login" class="btn btn-outline-dark">Submit</button>
        </div>

    </div>
</form>

