<div class="proj-container d-flex flex-column justify-content-center rounded">
    <div class="heading-wrap w-50 text-center mt-4 mb-5 mx-auto">
        <h1 class="pb-4 text-light">Project Catalog</h1>
        <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#proj-coll" aria-expanded="false" aria-controls="collapseExample">
            View Catalog
        </button>
    </div>
    <div id="proj-coll" class="wrap-proj-sec collapse w-100 row justify-content-center pb-5">
        {{#each projects as |project|}}
        <div class="card col-5 mx-2 my-2">
            <img src={{project.image}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <p class="card-text">{{project.description}}</p>
                <a href={{project.link}} target="_blank" class="btn btn-primary">Test Live</a>
            </div>
        </div>
        {{/each}}
        
    </div>  
</div>

