<div class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-50">
    <!-- Modal Background -->
    <div
      class="absolute top-0 left-0 w-full h-full bg-gray-900 opacity-50"
    ></div>
    <!-- Modal Content -->
    <div
      class="bg-white rounded-lg h-fit  shadow-lg max-sm:w-[90%] w-1/2 md:w-1/3 lg:w-1/2 p-4 mx-2 z-10"
      id="modal"
    >
      <!-- Modal Header -->
      <div class="text-center mb-2 flex justify-center">
        <div class="flex border rounded-lg shadow-md shadow-zinc-500 relative">
      </div>
    </div>
    <!-- Modal Body -->
    <div class="mb-4 relative">
        <button (click)="closeModal()" class="absolute right-[0] top-[-18px] p-1 px-2 rounded-md bg-red-500 hover:shadow-md  active:bg-red-600 text-white">X</button>

      
        <!-- User account information display -->
        <div class="flex flex-col gap-5 cursor-default">
           <p class="text-2xl text-slate-900 font-semibold">Confirm</p> 
           <p class="text-slate-600 font-semibold">A ${{service.price.toFixed(2)}} charge will be billed to {{service.customerEmail}}. Please confirm you wish to send this charge.</p>
        </div>
    </div>
    
    <!-- Password change form -->
    
    
    <!-- Modal Footer -->
        <div class="text-right flex justify-end gap-2">
            <button
            (click)="confirmSubmit()"
            class="text-white hover:shadow-md hover:shadow-zinc-600 bg-green-500 px-2 py-1 rounded-md"
            >
            Send
            </button>
            <button
            (click)="closeModal()"
            class="text-white hover:shadow-md hover:shadow-zinc-600 bg-zinc-400 px-2 py-1 rounded-md"
            >
            Close
            </button>
        </div>
    </div>
    <hr>
</div>
  




